@import "bootstrap-overrides";

/**
 * codice custom
 */

// HERO SECTION
// --------------------------------------------------------
.hero {
   .row{
      align-items: center;
      justify-content: space-between;

      .col-5 {
         h1 {
            color: #fff;
            text-transform: capitalize;
         }   
         
         p {
            color: lighten($dark, 50%);
            max-width: 80%;
         }
         a {
            text-transform: capitalize;
         }
         a:first-of-type {
            // margin-right: 20px;
         }
      }

   }      
}

// PARTICULARS SECTION
// --------------------------------------------------------
.particulars {
   box-shadow: 0px 0px 20px 10px rgba(0,0,0,0.5);

   .col-2 {
      align-items: center;
      justify-content: center;

      .icon {
         width: 100%;
         aspect-ratio: 1/1;
         background-color: rgba(190, 113, 0, 0.2);
         color: #be7100;
         font-size: 1.2rem;
         align-items: center;
         justify-content: center;
      }
   }

   .col-6 {
      flex-grow: 1;

      p {
         color: #333;
         margin-bottom: 0;
      }
   }
}


// RECOMMENDED SECTION
// --------------------------------------------------------
.recommended {
   background-color: $secondary;
}

